<form class="needs-validation" novalidate [formGroup]="form">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>People</b></h2>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name: </label>
            <input type="text" class="form-control" id="name" placeholder="John Snow" formControlName="name" />
            <div class="text-danger" *ngIf="hasError('name') && hasError('name')['required']">
                This field is required!
            </div>
            <div class="text-danger" *ngIf="hasError('name') && hasError('name')['minlength']">
                This field must be at least 3 characters!
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">E-mail: </label>
            <input type="text" class="form-control" id="email" placeholder="email@example.com" formControlName="email" />
            <div class="text-danger" *ngIf="hasError('email') && hasError('email')['required']">
                This field is required!
            </div>
            <div class="text-danger" *ngIf="hasError('email') && hasError('email')['minlength']">
                This field must be at least 3 characters!
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Picture: </label>
            <input type="file" class="form-control" id="picture" (change)="fileChange($event)" accept=".jpeg,.jpg,.png" placeholder="Select your Picture" />
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            &nbsp;
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
        <br/>
    </div>
</form>